
#DepartNum{
	height: 358px;
	width: 100%;
}
#DepartNumTrend{
	height: 564px;
	width: 100%;
}

#echart1,#echart2{
	width: 100%;
	height: 100%;
}


/*年月选择*/
.monthPicker {
	float: right;
	color: #fff;
	height: 100%;
	width: 125px;
	border: 1px solid #025ad2;
	box-sizing: border-box;
	background: #00419b;
	cursor: pointer;
	font-size: 12px;
	position: relative;
	margin-left: 10px;
}

.pdown {
	display: inline-block;
	width: 10px;
	height: 6px;
	background: url(../images/coins.png) no-repeat;
	background-position: 0 -52px;
	float: right;
	margin-top: 16px;
	margin-right: 7px;
}

.mp_days {
	position: absolute;
	right: -1px;
	top: 38px;
	width: 255px;
	height: 135px;
	border: 1px solid #025ad2;
	z-index: 99;
	background: #001e54;
	display: none;
}

.mp_years {
	height: 40px;
	border-bottom: 1px solid #025ad2;
}

.yearsleft,
.yearsright {
	width: 21px;
	height: 21px;
	line-height: 21px;
	text-align: center;
	text-indent: 0px;
	font-size: 16px;
	color: #0096f6;
	margin-top: 9px;
	border-radius: 6px;
}

.yearsleft {
	float: left;
	margin-left: 10px;
}

.yearsleft:hover {
	background: #002d77;
}

.yearsright {
	float: left;
}

.yearsright:hover {
	background: #002d77;
}

.yearssl {
	height: 22px;
	width: 186px;
	float: left;
	margin-top: 9px;
	overflow: hidden;
	position: relative;
}

.yearsin {
	height: 22px;
	position: absolute;
	top: 0;
	right: 0px;
}

.yearsin>div {
	width: 62px;
	height: 22px;
	float: left;
	line-height: 22px;
	color: #3b9dff;
	border-radius: 11px;
}

.yearsin>div:hover {
	color: #00f0ff;
}

.yearsin>.active {
	background: #0050c9;
	color: #00f0ff;
}

.monsin {
	width: 240px;
	height: 90px;
	color: #3b9dff;
	margin-left: 6px;
	position: relative;
}

.monsin>div {
	width: 60px;
	height: 22px;
	float: left;
	line-height: 22px;
	text-indent: 0px;
	text-align: center;
	border-radius: 11px;
	margin-top: 6px;
}

.monsin>div:hover {
	background: #0050c9;
	color: #00f0ff;
}

.monsin>.active {
	background: #00286b;
}


/*年份选择*/
.qyselect {
	height: 100%;
	/*border: 1px solid red;*/
	float: right;
	width: 200px;
	color: #fff;
	line-height: 40px;
	font-size: 12px;
	position: relative;
}

.qysl {
	position: absolute;
	left: 83px;
	top: -34px;
	width: 92px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #0050c9;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
}
.qyselect_con{
	display: inline-block;
	height: 24px;
	max-width: 80px;
	text-indent: 0px;
	overflow: hidden;
}
.qyselect_con:hover{
	overflow: visible;
	height: auto;
	background: #002e73;
	border-radius: 5px;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.down {
	display: inline-block;
	float: right;
	width: 25px;
	height: 25px;
	border-left: 1px solid #0050c9;
	background: #002ba7;
}

.down>i {
	display: block;
	width: 10px;
	height: 6px;
	background: url(../images/coins.png) 0 -52px no-repeat;
	margin-top: 10px;
	margin-left: 8px;
}

.sections {
	display: none;
	background: #015bda;
	color: #fff;
	z-index: 99;
	position: absolute;
	left: 0;
	top: 25px;
	width: 92px;
	border-radius: 5px;
}

.sections>div{
	/*line-height: 15px;*/
	height: 24px;
	overflow: hidden;
}

.sections>div:hover {
	background: #013fbd;
}

#sldjt{
	color: #fff;
	border-bottom: 1px solid #fff;
}
#sldjt:hover{
	color: #3b9dff;
	border-bottom: 1px solid #3b9dff;
}
