.btns{
	border-top: 1px solid #006dff;
	border-bottom: 1px solid #006dff;
	background: rgba(0,83,195,0.65);
	position: fixed;
	left: 0;
	top: 68px;
	height: 60px;
	width: 100%;
	min-width: 1280px;
	z-index: 99999;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F0053c3,endcolorstr=#7F0053c3);
}
.btnswrap{
	height: 20px;
	overflow: hidden;
	padding: 0 20px;
	margin-top: 20px;
}
.btnswrap>div{
	float: left;
	font-size: 16px;
	color: #fff;
	line-height: 20px;
	border-left: 1px solid #3b9dff;
	padding: 0 24px;
	cursor: pointer;
}
.btnswrap>div:hover{
	color: #ff7800;
}
.btnswrap>.b_all{
	border: none;
}
.btnswrap>.active{
	color: #ff7800;
}
#leftBar{
	top: 129px;
}
.content{
	margin-top: 143px;
}
@media only screen and (max-width: 1280px) {
	.btns{
		position: absolute;
	}
}