html,body{width: 100%;min-width: 1280px;}
body{
	background:url(../images/bg.png) no-repeat fixed;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.png',sizingMethod='scale');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: repeat\9;
	overflow-y: scroll;
}
.header{
	height: 68px;
	
	background:url(../images/headbg.png) no-repeat #293ad3;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;  
	line-height: 68px;
	box-sizing: border-box;
	padding:0 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 1280px;
	z-index: 999999;
}
.inner{
	margin: 0 auto;
	height: 100%;
	color: #fff;
}
.logo{
	display: inline-block;
	height: 60px;
	margin-top: 4px;
}
.admin{
	height: 40px;
	line-height: 40px;
	margin-top: 14px;
	margin-left: 20px;
	overflow: hidden;
	cursor: pointer;
}
.admin>div{
	float: left;
}
.admin_icon{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url(../images/admin.png) center center no-repeat;
	background-size: cover;
	margin-right: 10px;
}
.admin_name{
	font-size: 12px;
}
.userArea{
	position: relative;
}
.head_btn{
	display: block;
	float: left;
	padding: 0 26px;
	font-size: 16px;
	color: #fff;
}
.head_btn.active{
	background: url(../images/iconbg.png) center center no-repeat;
	background-size: 100% 100%;
}
.head_btn.dpo{
	cursor: pointer;
}
.dpos{
	display: none;
	position: absolute;
	left: 116px;
	top: 69px;
	background: #015bda;
	width: 116px;
	border-radius: 8px;
	z-index: 9999;
	overflow: hidden;
}
.dpos div{
	height: 40px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}

.dpos div:hover{
	background: #013fbd;
}
.head_btn:hover{
	color: #ff4200;
}

#mainWrap{
	width: 100%;
	position: absolute;
}
.content{
	margin-top: 83px;
	margin-left: 222px;
	margin-bottom: 15px;
	width: 1050px;
	
}
.content>div{
	border: 1px solid #002e73;
	margin-bottom: 15px;
}
.c_title{
	height: 40px;
	line-height: 40px;
	background: #002e73;
	color: #fff;
	font-size: 16px;
	text-indent: 16px;
}
.c_chart{
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	background: rgba(0,46,115,0.33);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4c002e73,endcolorstr=#4c002e73);
}
.c_chart>div{
	background: rgba(0,0,0,0.25);
}




@media only screen and (max-width: 1280px) {
	.header{
		position: absolute;
	}
}