#leftBar{
	position: fixed;
	left: 0;
	top: 68px;
	width: 206px;
	height: 100%;
	background: rgba(0,46,115,0.5);
	border-right: 1px solid #0053c3;
	border-top: 1px solid #0053c3;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F002e73,endcolorstr=#7F002e73);
}
#leftBar ul li{
	display: block;
	box-sizing: border-box;
	padding-left: 14px;
	width: 180px;
	height: 65px;
	line-height: 1.5em;
	color: #fff;
	border-bottom:1px solid rgba(24,90,171,0.5);
	margin: 0 auto;
	cursor: pointer;
	display: table;
	
}
#leftBar ul li a{
	display: table-cell;
	vertical-align: middle;
}
#leftBar ul li a:hover{
	color: #ffcc00;
}
#leftBar ul li.active{
	color: #ffcc00;
}

/*@media only screen and (max-width: 1280px) {
	#leftBar{
		position: absolute;
	}
}*/