@import './public/reset.css';
@import './public/layout.css';
@import './public/leftBar.css';
@import './public/btns.css';

#doc1{
	height: 425px;
	width: 100%;
}
#doc2{
	height: 234px;
	width: 100%;
}
#doc3,#doc4,#doc5,#doc6{
	height: 392px;
	width: 100%;
	position: relative;
}
#chart1{
	width: 100%;
	height: 100%;
}
#doc2>div{
	width: 33.3%;
	height: 100%;
	background: url(../images/border.png) no-repeat;
	background-position: right center;
	float: left;
	overflow: hidden;
	position: relative;
}
#doc2>.d23{
	background: none;
}
#d2c1,#d2c2,#d2c3{
	margin-left: 20px;
	margin-top: 10px;
}


#chart3,#chart4{
	width: 100%;
	height: 80%;
}

.d5l,.d5r,.d6l,.d6r{
	/*border: 1px solid red;*/
	float: left;
	width: 506px;
	height: 330px;
	position: relative;
}
.c2_title{
	height: 36px;
	color: #fff;
	line-height: 36px;
	position: absolute;
	top: 12px;
	left: 0;
}
.c2_title>p {
	height: 16px;
	line-height: 16px;
	margin-top: 10px;
	border-left: 3px solid #ff3c00;
	text-indent: 8px;
	margin-left: 40px;
}
#chart5_1,#chart5_2,#chart6_1,#chart6_2{
	height: 100%;
	width: 100%;
}
.d5l,.d6l{
	background: url(../images/border3.png) no-repeat right;
}


/*头部btn变化*/
.btnswrap{
	position: relative;
}
.btnswrap>.b_all{
	position: absolute;
	left: 0;
	top: 0;
}
.btnswrap>.btnsel{
	/*width: 972px;*/
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 82px 0 202px;
	border: none;
}
.btnswrap>.btnsel:hover{
	color: #fff;
}
.bin{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.btnswrap>.leftbtnb{
	padding: 0 5px;
	position: absolute;
	top: 0;
	left: 143px;
}

.btnswrap>.leftbtn{
	padding: 0 10px;
	position: absolute;
	top: 0;
	left: 178px;
	border-right: 1px solid #3b9dff;
}
.btnswrap>.rightbtnb{
	padding: 0 10px;
	position: absolute;
	top: 0;
	right: 10px;
	border-right: 1px solid #3b9dff;
}
.btnswrap>.rightbtn{
	padding: 0 10px;
	position: absolute;
	top: 0;
	right: 55px;
}

.btnselin{
	height: 100%;
	width: 100000px;
	position: absolute;
	left: 0;
	top: 0;
}
.btnselin>.btn1{
	color: #fff;
}
.btnselin>.btn1:hover{
	color: #ff7800;
}
.btn1{
	padding: 0 10px;
	float: left;
}
.btnswrap>.active{
	color: #fff;
}
.btnswrap>.ac{
	color: #ff7800;
}


/*//时间选择*/
.time_change{
	position: absolute;
	width: 270px;
	height: 20px;
	/*border: 1px solid red;*/
	left: 34px;
	bottom: 30px;
	overflow: hidden;
}
.time_change.type2{
	left: 373px;
}

.leftb{
	height: 100%;
	width: 15px;
	background: url(../images/lr.png) no-repeat;
	background-position: 4px -13px;
	float: left;
	/*border: 1px solid red;*/
	cursor: pointer;
}
.rightb{
	height: 100%;
	width: 15px;
	background: url(../images/lr.png) no-repeat;
	background-position: 4px 4px;
	float: right;
	/*border: 1px solid red;*/
	cursor: pointer;
}
.mid{
	/*border: 1px solid red;*/
	height: 100%;
	width: 240px;
	float: left;
	overflow: hidden;
	position: relative;
}
.dates{
	height: 20px;
	position: absolute;
	top: 0;
	right: 0;
}
.dates>div{
	float: left;
	height: 20px;
	line-height: 20px;
	color: #fff;
	width: 80px;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
}
.dates>.active{
	color: #00aeff;
	font-weight: bold;
	position: relative;
}
.type2 .dates>.active{
	color: #ffae00;
}
.type2 .dates>.active:before{
	background: #ffae00;
}
.type2 .dates>.active:after{
	background: #ffae00;
}
.dates>.active:before{
	content: '·';
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	left:0px;
	top: 8px;
	background: #00aeff;
	line-height: 4px;
	text-indent: -12px;
}
.dates>.active:after{
	content: '·';
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	left: 75px;
	top: 8px;
	background: #00aeff;
	line-height: 4px;
	text-indent: 5px;
}

/*年份选择*/
.qyselect {
	height: 100%;
	/*border: 1px solid red;*/
	float: right;
	width: 200px;
	color: #fff;
	line-height: 40px;
	font-size: 12px;
	position: relative;
}

.qysl {
	position: absolute;
	left: 83px;
	top: -34px;
	width: 92px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #0050c9;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
}
.qyselect_con{
	display: inline-block;
	height: 24px;
	max-width: 80px;
	text-indent: 0px;
	overflow: hidden;
}
.qyselect_con:hover{
	overflow: visible;
	height: auto;
	background: #002e73;
	border-radius: 5px;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.down {
	display: inline-block;
	float: right;
	width: 25px;
	height: 25px;
	border-left: 1px solid #0050c9;
	background: #002ba7;
}

.down>i {
	display: block;
	width: 10px;
	height: 6px;
	background: url(../images/coins.png) 0 -52px no-repeat;
	margin-top: 10px;
	margin-left: 8px;
}

.sections {
	display: none;
	background: #015bda;
	color: #fff;
	z-index: 99;
	position: absolute;
	left: 0;
	top: 25px;
	width: 92px;
	border-radius: 5px;
}

.sections>div{
	/*line-height: 15px;*/
	height: 24px;
	overflow: hidden;
}

.sections>div:hover {
	background: #013fbd;
}

.btnselin>.act{
	color: #ff7800;
}


#myslqst{
	color: #fff;
	border-bottom: 1px solid #fff;
}
#myslqst:hover{
	color: #3b9dff;
	border-bottom: 1px solid #3b9dff;
}
#slmymyddc{
	color: #fff;
	border-bottom: 1px solid #fff;
}
#slmymyddc:hover{
	color: #3b9dff;
	border-bottom: 1px solid #3b9dff;
}
