@import './public/reset.css';
@import './public/layout.css';
@import './public/leftBar.css';
@import './public/btns.css';


#doc1,#doc2,#doc3,#doc4,#doc5,#doc6{
	height: 2000px;
	width: 100%;
	position: relative;
}
#echart1,#echart2,#echart3,#echart4,#echart5,#echart6{
	width: 100%;
	height: 100%;
}
#slider1{
	position: absolute;
	top: 490px;
	left: 222px;
	width: 592px;
	/*border: 1px solid red;*/
	background: none;
	border: none;
}

#slider1bg{
	position: absolute;
	top: 485px;
	left: 100px;
	width: 820px;
	height: 20px;
	/*border: 1px solid red;*/
	background: url(../images/timebar.png) no-repeat;
	background-position: center center;
}
#slider1time{
	position: absolute;
	top: 510px;
	left: 115px;
	width: 792px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	/*border: 1px solid red;*/
	color: #02649d;
}
#slider1time>div{
	float: left;
	text-align: center;
	width: 25%;
}
.ui-state-default, .ui-widget-content .ui-state-default{
	background: rgba(0,198,255,.4);
	cursor: move;
	border: none;
	border-left: 4px solid #00c6ff;
	border-right: 4px solid #00c6ff;
}
.ui-slider .ui-slider-handle{
	width: 14em;
	border-radius: 0;
}
.ui-slider-horizontal .ui-slider-handle{
	margin-left: -7.8em;
}

/*.leftbtn{
	height: 100%;
}*/

.btnswrap{
	position: relative;
}
.btnswrap>.b_all{
	position: absolute;
	left: 0;
	top: 0;
}
.btnswrap>.btnsel{
	/*width: 972px;*/
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 82px 0 202px;
	border: none;
}
.btnswrap>.btnsel:hover{
	color: #fff;
}
.bin{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.btnswrap>.leftbtnb{
	padding: 0 5px;
	position: absolute;
	top: 0;
	left: 143px;
}

.btnswrap>.leftbtn{
	padding: 0 10px;
	position: absolute;
	top: 0;
	left: 178px;
	border-right: 1px solid #3b9dff;
}
.btnswrap>.rightbtnb{
	padding: 0 10px;
	position: absolute;
	top: 0;
	right: 10px;
	border-right: 1px solid #3b9dff;
}
.btnswrap>.rightbtn{
	padding: 0 10px;
	position: absolute;
	top: 0;
	right: 55px;
}

.btnselin{
	height: 100%;
	width: 100000px;
	position: absolute;
	left: 0;
	top: 0;
}
.btnselin>.btn1{
	color: #fff;
}
.btnselin>.btn1:hover{
	color: #ff7800;
}
.btn1{
	padding: 0 10px;
	float: left;
}
.btnswrap>.active{
	color: #fff;
}
.btnswrap>.ac{
	color: #ff7800;
}

/*月份选择*/
.monthPicker {
	float: right;
	color: #fff;
	height: 100%;
	width: 125px;
	border: 1px solid #025ad2;
	box-sizing: border-box;
	background: #00419b;
	cursor: pointer;
	font-size: 12px;
	position: relative;
	margin-left: 10px;
}

.pdown {
	display: inline-block;
	width: 10px;
	height: 6px;
	background: url(../images/coins.png) no-repeat;
	background-position: 0 -52px;
	float: right;
	margin-top: 16px;
	margin-right: 7px;
}

.mp_days {
	position: absolute;
	right: -1px;
	top: 38px;
	width: 255px;
	height: 135px;
	border: 1px solid #025ad2;
	z-index: 99;
	background: #001e54;
	display: none;
}

.mp_years {
	height: 40px;
	border-bottom: 1px solid #025ad2;
}

.yearsleft,
.yearsright {
	width: 21px;
	height: 21px;
	line-height: 21px;
	text-align: center;
	text-indent: 0px;
	font-size: 16px;
	color: #0096f6;
	margin-top: 9px;
	border-radius: 6px;
}

.yearsleft {
	float: left;
	margin-left: 10px;
}

.yearsleft:hover {
	background: #002d77;
}

.yearsright {
	float: left;
}

.yearsright:hover {
	background: #002d77;
}

.yearssl {
	height: 22px;
	width: 186px;
	float: left;
	margin-top: 9px;
	overflow: hidden;
	position: relative;
}

.yearsin {
	height: 22px;
	position: absolute;
	top: 0;
	right: 0px;
}

.yearsin>div {
	width: 62px;
	height: 22px;
	float: left;
	line-height: 22px;
	color: #3b9dff;
	border-radius: 11px;
}

.yearsin>div:hover {
	color: #00f0ff;
}

.yearsin>.active {
	background: #0050c9;
	color: #00f0ff;
}

.monsin {
	width: 240px;
	height: 90px;
	color: #3b9dff;
	margin-left: 6px;
	position: relative;
}

.monsin>div {
	width: 60px;
	height: 22px;
	float: left;
	line-height: 22px;
	text-indent: 0px;
	text-align: center;
	border-radius: 11px;
	margin-top: 6px;
}

.monsin>div:hover {
	background: #0050c9;
	color: #00f0ff;
}

.monsin>.active {
	background: #00286b;
}


#myslqst{
	color: #fff;
	border-bottom: 1px solid #fff;
}
#myslqst:hover{
	color: #3b9dff;
	border-bottom: 1px solid #3b9dff;
}
#myclslphb{
	color: #fff;
	border-bottom: 1px solid #fff;
}
#myclslphb:hover{
	color: #3b9dff;
	border-bottom: 1px solid #3b9dff;
}
#myclmydphb{
	color: #fff;
	border-bottom: 1px solid #fff;
}
#myclmydphb:hover{
	color: #3b9dff;
	border-bottom: 1px solid #3b9dff;
}