@import './public/reset.css';
@import './public/layout.css';


.index_content {
	width: 100%;
	height: 735px;
	padding-top: 74px;
}

.ic_wrap {
	width: 1280px;
	height: 726px;
	margin: 0 auto;
}

.ic_top {
	height: 126px;
	overflow: hidden;
}

.ic_top>div {
	float: left;
	height: 100%;
	border: 1px solid #0053c3;
	box-sizing: border-box;
	background: rgba(0, 83, 195, .5);
}

.ict_l {
	width: 257px;
	margin-right: 5px;
}

.ict_m {
	width: 496px;
	margin-right: 5px;
	overflow: hidden;
}

.ict_r {
	width: 517px;
}

.ic_btm {
	height: 592px;
	overflow: hidden;
	margin-top: 10px;
	position: relative;
}

.icb_l {
	float: left;
	width: 892px;
	height: 100%;
	margin-right: 8px;
}

.icb_r {
	float: left;
	width: 380px;
	height: 100%;
	background: rgba(0, 46, 115, .35);
	border: 1px solid #0053c3;
	box-sizing: border-box;
	position: relative;
}

.icbl_t {
	height: 430px;
	background: rgba(0, 0, 0, .25);
	margin-bottom: 10px;
	position: relative;
}

.icbl_b {
	height: 150px;
	background: rgba(0, 46, 115, .33);
	border: 1px solid #0053c3;
	overflow: hidden;
}

.hotEvent {
	position: absolute;
	left: 26px;
	top: 42px;
	width: 206px;
	height: 337px;
	background: rgba(0, 30, 76, .33);
	border: 1px solid #0053c3;
}

#wfWill {
	/*border: 1px solid red;*/
	width: 630px;
	height: 390px;
	position: absolute;
	left: 266px;
	top: 18px;
}
#qxt {
	display: none;
	width: 630px;
	height: 390px;
	position: absolute;
	left: 266px;
	top: 18px;
}

.boxTitle {
	height: 40px;
	border-bottom: 1px solid #0053c3;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	background: #002e73;
	text-indent: 15px;
}

.pubTitle {
	height: 36px;
	color: #fff;
	line-height: 36px;
	padding-top: 1px;
	background: rgba(0, 21, 62, .7);
}

.pubTitle>p {
	height: 16px;
	line-height: 16px;
	margin-top: 10px;
	border-left: 3px solid #ff3c00;
	text-indent: 8px;
	margin-left: 18px;
}

.pubTitle+div {
	cursor: pointer;
}

#pubType {
	height: 140px;
	width: 100%;
}

#pubChain {
	height: 185px;
	width: 100%;
}

#pubRank {
	height: 114px;
	width: 100%;
}

.timeBlock {
	height: 20px;
	border-bottom: 1px solid #025ad2;
	width: 242px;
	margin: 8px auto;
	overflow: hidden;
}

.timeBlock>div {
	float: left;
	box-sizing: border-box;
	color: #2f84dd;
	font-size: 12px;
	/*font-size: 50%;*/
	height: 20px;
	line-height: 20px;
	background: #001c58;
	border: 1px solid #003e92;
	border-bottom: none;
	cursor: pointer;
	margin-right: 6px;
	padding: 0 9px;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
}

.timeBlock>div.m0 {
	margin: 0;
	width: 68px;
}
.timeBlock>div.by {
	width: 44px;
}
.timeBlock>div.bn {
	width: 44px;
}
.timeBlock>div.synd {
	width: 68px;
}

.timeBlock>div.active {
	color: #00f0ff;
	background: #0050c9;
}

.ict_m>div {
	width: 33%;
	height: 100%;
	float: left;
}
.ict_m>div>div{
	height: 90px;
	line-height: 90px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
}
.ict_m>div>p{
	color: #fff;
	text-align: center;
}
.index_data1>div{
	color: #ff7800;
}
.index_data2>div{
	color: #fff100;
}
.index_data3>div{
	color: #00ff06;
}

.index_data1,.index_data2{
	background: url(../images/border.png) right center no-repeat;
	background-size: 1px 60% ;
}
.hev{
	height: 295px;
	padding: 10px;
	box-sizing: border-box;
}
.hev_head{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.hev_head>div{
	height: 30px;
	float: left;
	width: 50%;
	text-align: center;
	color: #fff;
	cursor: pointer;
	box-sizing: border-box;
}
.hev_head>div.active{
	border-bottom: 2px solid #00ccff;
}
.hev_b{
	height: 48px;
	border-top: 1px solid rgba(0,66,156,.5);
	line-height: 48px;
}
.hev_b:hover{
	background: rgba(0,50,122,.2);
}
.hev_b>p{
	display: inline-block;
	height: 24px;
	width: 24px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	margin-right: 10px;
}
.hev_b>span{
	color: #fff;
}
.hev_no1>p{
	border:1px solid #c80610;
	background: rgba(127,15,38,.4);
}
.hev_no1>span{
	color: #ef0101;
}
.hev_no2>p{
	border:1px solid #c2751d;
	background: rgba(118,91,66,.4);
}
.hev_no2>span{
	color: #fe6000;
}
.hev_no3>p{
	border:1px solid #c8cf10;
	background: rgba(127,142,38,.4);
}
.hev_no3>span{
	color: #fff231;
}

.down_mark{
	display: inline-block;
	margin-left: 5px;
	width: 11px;
	height: 19px;
	background: url(../images/coins.png) no-repeat;
}

.i_pies{
	width: 33.3%;
	float: left;
	height: 100%;
	position: relative;
}
.i_pies p,.i_pies ul,.i_pies li{
	display: block;
}
.i_pies .timeSel{
	position: absolute;
	width: 96px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #0053c3;
	top: 10px;
	right: 18px;
	border-radius: 5px;
	background: rgba(0,35,119,.5);
	z-index: 99;
	color: #fff;
	text-indent: 15px;
	cursor: pointer;
	
}
.i_pies>i{

	position: absolute;
	top: 18px;
	right: 18px;
}

.pdown{
	display: inline-block;
	width: 10px;
	height: 6px;
	background: url(../images/coins.png) no-repeat;
	background-position: 0 -52px;
	float: right;
	margin-top: 12px;
	margin-right: 8px;
}
.timeSel>ul{
	overflow: hidden;
	border-radius: 5px;
	display: none;
}
.timeSel>ul>li{
	height: 22px;
	background: #015bda;
	line-height: 22px;
}
.timeSel>ul>li:hover{
	background: #013fbd;
}

.myd{
	width: 240px;
	height: 80px;
	/*border: 1px solid red;*/
	overflow: hidden;
}
#myd_chart{
	/*border: 1px solid red;*/
	float: left;
	width: 80px;
	height: 80px;
	margin-left: 25px;
}
.mydMsg{
	/*border: 1px solid red;*/
	float: left;
	width: 130px;
	height: 80px;
	line-height: 80px;
	color: #ffcc00;
	font-size: 20px;
	text-indent: 25px;
}
.up_mark{
	display: inline-block;
	width: 11px;
	height: 19px;
	margin-left: 5px;
	background: url(../images/coins.png) no-repeat 0 -26px;
}

.ict_r>div{
	width: 78px;
	height: 120px;
	/*margin-top: 20px;*/
	/*border: 1px solid red;*/
	float: left;
	margin-left: 40px;
}

#onceBj,#moreBj,#overtimeBj{
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
	overflow: hidden;
}

.pubType,.pubChain,.pubRank{
	position: relative;
}
.clis{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	cursor: pointer;
	background: rgba(0,0,0,0);
}
/*.pubType_cli{
	width: 378px;
	height: 140px;
	position: absolute;
	right: 0;
	top: 78px;
	z-index: 99;
	cursor: pointer;
	border: 1px solid red;
	background: gray;
} */

#pubRank_show{
	overflow: auto;
}
#pubRank_all{
	height: 800px;
}
.wf_tab{
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 99;
	width: 120px;
	height: 25px;
	border: 1px solid #3b6eff;
	border-radius: 4px;
	overflow: hidden;
}
.wf_tab>div{
	width: 50%;
	float: left;
	height: 100%;
	background: #001c58;
	text-align: center;
	line-height: 25px;
	color: #3b9dff;
	font-size: 12px;
	cursor: pointer;
}
.wf_tab>.active{
	background: #0050c9;
	color: #00f0ff;
}
