@import './public/reset.css';
body,
html {
	height: 100%;
	width: 100%;
}

body {
	background: url(../images/login.png) center center no-repeat;
	background-size: cover;
}

.wrap {
	width: 1128px;
	height: 330px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.login_title {
	position: absolute;
	width: 575px;
	height: 380px;
	left: 0px;
	top: 0px;
	background: url(../images/logtit.png) center center no-repeat;
	background-size: cover;
}

.login {
	width: 355px;
	height: 322px;
	position: absolute;
	top: 0;
	left: 676px;
	border: 1px solid #123cb6;
	border-radius: 6px;
	overflow: hidden;
	background: rgba(49, 70, 227, .3);
}

.logt {
	height: 54px;
	background: url(../images/logtbg.png) center center no-repeat;
	background-size: cover;
	line-height: 54px;
	color: #fff;
	font-size: 18px;
	text-align: center;
}

.logform input {
	display: block;
	width: 295px;
	height: 40px;
	margin: 0 auto;
	color: #fff;
}

.name,
.psw {
	background: #0a1663;
	border-radius: 4px;
	border: 1px solid #6494e6;
	background: #0a1663 url(../images/np.png) no-repeat;
	text-indent: 40px;
}

.logform .name {
	background-position: 9px 9px;
	margin-top: 25px;
}

.name:focus {
	box-shadow: 0 0 2px 1px #0073de;
}

.logform .psw {
	background-position: 9px -58px;
	margin-top: 15px;
}

.psw:focus {
	box-shadow: 0 0 2px 1px #0073de;
}

.logform .sbm {
	margin-top: 16px;
	cursor: pointer;
	border-radius: 6px;
	background: #0176fe;
	border: none;
	outline: none;
	background: -webkit-linear-gradient(left,#4350c2, #0076ff);
	background: -moz-linear-gradient(right,#4350c2, #0076ff);
	background: -o-linear-gradient(right,#4350c2, #0076ff);
	background: linear-gradient(to right,#4350c2, #0076ff);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4350c2', endColorstr='#0076ff',GradientType=1 );
}
.hint{
	height: 20px;
	width: 295px;
	margin: 0 auto;
	margin-top: 20px;
	line-height: 20px;
	font-size: 12px;
	color: red;
}


#ie8-warning{
       background:#FCF8E3;
       position:fixed;
       top:0;
       left:0;
       font-size:12px;
       color:#333;
       width:100%;
       padding: 2px 15px 2px 23px;
       text-align:center;
       height: 50px;
       line-height: 50px;
       font-size: 16px;
       font-family: "微软雅黑";
}
#ie8-warning a {
       text-decoration:none;
       background: url(../images/brower.png) no-repeat;
       display: block;
       width: 32px;
       height: 30px;
       float: left;
       margin: 10px;
}
#ie8-warning b{float: left;font-weight: normal;}
#ie8-warning span{float: right;margin-right: 2%;width: 32px;height: 32px;margin-top: 17px;cursor: pointer;}
#ie8-warning a.internet{
       background-position: right center;
       
}
#ie8-warning a.Firefox{
       background-position: center center;
}
#ie8-warning a.Chrome{
       background-position: left center;
}
#centerbBrower{
       width: 800px;
       position: absolute;
       left: 50%;
       margin-left: -400px;
}